# Analysing statistics for PGA Tour players in the 2022 season

In this notebook, I will be using data from __[Advanced Sports Analytics](https://www.advancedsportsanalytics.com/pga-raw-data)__ to look at different statistics for PGA Tour players in the 2022 season.

0. The first step is to import the necessary libraries for our analysis

In [1]:
import pandas as pd
import numpy as np
import datetime

1. The next step is to import the data and inspect it to look at the different columns, data types, and to check for null values.

In [2]:
# Import the data into a pandas dataframe
pga_data = pd.read_csv('pgatour_22.csv')
#Print the first 5 rows the data to see how the data is arranged into rows and columns
print('Initial look at raw dataset:\n',pga_data.head())
#Print the data types of our columns
print('-'*100)
print('Data types for raw dataset:\n',pga_data.dtypes)
#Print the number of null values in each column
print('-'*100)
print('Null values in each column:\n',pga_data.isna().sum())

Initial look at raw dataset:
   Player_initial_last  tournament id  player id  hole_par  strokes  hole_DKP  \
0            A. Ancer      401353224       9261       288      289      60.0
1           A. Hadwin      401353224       5548       288      286      72.5
2           A. Lahiri      401353224       4989       144      147      21.5
3             A. Long      401353224       6015       144      151      20.5
4            A. Noren      401353224       3832       144      148      23.5

   hole_FDP  hole_SDP  streak_DKP  streak_FDP  ...  purse  season  no_cut  \
0      51.1        56           3         7.6  ...   12.0    2022       0
1      61.5        61           8        13.0  ...   12.0    2022       0
2      17.4        27           0         0.0  ...   12.0    2022       0
3      13.6        17           0         0.4  ...   12.0    2022       0
4      18.1        23           0         1.2  ...   12.0    2022       0

   Finish  sg_putt  sg_arg  sg_app  sg_ott  sg_t2g  sg_total
0     T32     0.20   -0.13   -0.08    0.86    0.65      0.85
1     T18     0.36    0.75    0.31    0.18    1.24      1.60
2     CUT    -0.56    0.74   -1.09    0.37    0.02     -0.54
3     CUT    -1.46   -1.86   -0.02    0.80   -1.08     -2.54
4     CUT     0.53   -0.36   -1.39    0.19   -1.56     -1.04

[5 rows x 37 columns]
----------------------------------------------------------------------------------------------------
Data types for raw dataset:
 Player_initial_last     object
tournament id            int64
player id                int64
hole_par                 int64
strokes                  int64
hole_DKP               float64
hole_FDP               float64
hole_SDP                 int64
streak_DKP               int64
streak_FDP             float64
streak_SDP               int64
n_rounds                 int64
made_cut                 int64
pos                    float64
finish_DKP               int64
finish_FDP               int64
finish_SDP               int64
total_DKP              float64
total_FDP              float64
total_SDP                int64
player                  object
Unnamed: 2             float64
Unnamed: 3             float64
Unnamed: 4             float64
tournament name         object
course                  object
date                    object
purse                  float64
season                   int64
no_cut                   int64
Finish                  object
sg_putt                float64
sg_arg                 float64
sg_app                 float64
sg_ott                 float64
sg_t2g                 float64
sg_total               float64
dtype: object
----------------------------------------------------------------------------------------------------
Null values in each column:
 Player_initial_last       0
tournament id             0
player id                 0
hole_par                  0
strokes                   0
hole_DKP                  0
hole_FDP                  0
hole_SDP                  0
streak_DKP                0
streak_FDP                0
streak_SDP                0
n_rounds                  0
made_cut                  0
pos                    1631
finish_DKP                0
finish_FDP                0
finish_SDP                0
total_DKP                 0
total_FDP                 0
total_SDP                 0
player                    0
Unnamed: 2             3676
Unnamed: 3             3676
Unnamed: 4             3676
tournament name           0
course                    0
date                      0
purse                     0
season                    0
no_cut                    0
Finish                  567
sg_putt                 568
sg_arg                  568
sg_app                  568
sg_ott                  568
sg_t2g                  568
sg_total                567
dtype: int64

In [3]:
#Check the player column to see the data it gives us, as we also have a player_intial_last column
print(pga_data.player.head())
print(pga_data.Player_initial_last.head())
print('-'*100)
#Get the number of tournaments we have information about
print('Number of unique tournaments played:',pga_data['tournament name'].nunique())
print('Number of unique players:',pga_data.player.nunique())

0      Abraham Ancer
1        Adam Hadwin
2     Anirban Lahiri
3          Adam Long
4    Alexander Noren
Name: player, dtype: object
0     A. Ancer
1    A. Hadwin
2    A. Lahiri
3      A. Long
4     A. Noren
Name: Player_initial_last, dtype: object
----------------------------------------------------------------------------------------------------
Number of unique tournaments played: 32
Number of unique players: 337

## Data Info

1. It looks like we have 37 columns with information about 67 tournaments and 499 players from the 2018-2022 season.
 
    1. `hole_par` tells us the total shots a player must shoot to score level par accorindg to the amount of rounds they've played (2 rounds ~ 144, 4 rounds ~ 288)
    2. `strokes` tells us the number of strokes the player made on the hole. For example, if a player makes 6 strokes on a par 4, their score for the hole is +2, or 2 strokes over par!
    3. `num_rounds` tells us the number of rounds the player played in a certain tournament. It usually has values of either 2 or 4 (explanation below).
    4. `made_cut` tells us whether a player made the *cut* (1) or not (0). PGA Tour events last 4 days and the playing field is **cut** in half after the end of the 2nd day, meaning players that *made the cut* play 4 rounds, but players that do not make the cut play 2 rounds. It could be that a player was disqualified or had to withdraw during the 1st or 3rd round, but values of 1 or 3 in `num_rounds` would be rare (good to be aware of them though!).
    5. `pos` tells us the position the player finished at the end of the tournament in `float` form, so if a player did not make the cut, it gives a `NaN` value.
    6. `date` gives us the date (normal `yyyy-mm-dd` form) on which a certain row gives information about.
    7. `purse` is the prize money for the tournament in Millions.
    8. `no_cut` tell us whether a tournament had a cut or not, this information is somewhat important as most tournaments **do** have cuts, so we might want to filter these out.
    9. `Finish` gives the same information as `pos` and a little more (tells us whether a player is Tied for a position, didn't make the cut (CUT), withdrew (WD), or got disqualified (DQ)) but displays the information in a way familiar to golfers (CUT meaning the player didn't make the cut, Tnum meaning the player tied for num-th place.)
    10. `sg-` means **strokes gained** and is a comparison of the player's performance with the rest of the field (Please see https://www.pgatour.com/news/2016/05/31/strokes-gained-defined.html)
        1. `sg_putt` means strokes gained putting.
        2. `sg_arg` means strokes gained around the green (within 30 yards of green) (the *green* is the surface where the hole is located).
        3. `sg_agg` means strokes gained approach the green (any shot hit towards the green that is not a tee shot on a par 4 or par 5, but includes tee shots on par 3s) (a tee shot is the first shot on any hole).
        4. `sg_ott` means strokes gained off the tee.
        5. `sg_t2g` means strokes gained tee to green (`sg_t2g = sg_arg + sg_agg + sg_ott`)
        6. `sg_total = sg_t2g + sg_putt`

## Data Cleaning strategy

1. The naming of the columns is very inconsistent as some column names have title style while some do not, some contain underscores while some do not etc. The naming will have to be fixed. Some of the names of the columns also do not do a great job of explaining what the columns values are representing, especially for non-golfing audiences.

2. The columns that contain the three letter acronyms *FDP, DKP, SDP* have to do with Draft King / Fantasy Drafts, i.e. leagues where followers of the tour can select players to be in their 'fantasy team' and see who gets the most points. This data is of little use to my analysis here as we are MOSTLY INTERESTED IN THE STATS OF THE PLAYERS THEMSELVES.
**These columns (12) will be removed**

3. We have columns in the form `Unnamed: number` which only contain null values.
**These columns (3) will also be removed**

4. There are 2 columns containing information about the Players name: `Player_initial_last` and `Player`.
**This is giving us redundant information and can definitely be reduced into one column**

5. `pos` and `Finish` give us the same information as different data types, but it easier working with numeric data types. Whether a player ties for 2nd place or comes solo 2nd is not of much importance to us. If `made_cut` is False, then the `pos` is `NaN`. Where Finish is `null`, the position column is sometimes `not null` and vice versa. However, where both `Finish` and `pos` are `Null`, the strokes gained columns are also `null`. 
**`Finish` and `pos` are thus both important. The rows where Finish and pos are null also have all the strokes gained columns as null, so these values will have to be filled in using other data. For clarity, if the player did not make a cut, the value in the pos column will be set to 0, to separate the missed cuts data points to data points where we have missing data**

6. `course` contains the course name, city, and state the golf tournament was held in. 
**For easy access to information, we can split the data into 3 columns: `course`, `city`, `state`**

7. There are some tournaments in our data that we are not interested in:
Corales Puntacana Resort & Club Championship, Puerto Rico Open, AT&T Pebble Beach Pro-Am, Mayakoba Golf Classic, and Bermuda Championship will be removed from our data.

In [4]:
# Remove columns with the fantasy leagues information
pga_data = pga_data[pga_data.columns.drop(list(pga_data.filter(regex=\
                                                               '(hole|streak|finish|total)\_[DFS][KD]P')))]
pga_data = pga_data[pga_data.columns.drop(list(pga_data.filter(regex='Unnamed: \d')))]

#Make the made_cut column a boolean dtype column
pga_data['made_cut'] = pga_data.made_cut.replace([0, 1], [False, True])
pga_data['no_cut'] = pga_data.no_cut.replace([0, 1], [False, True])

#split information in course into 3 columns: course, city, and state
course_data = pga_data.course.str.split('-')
pga_data.course = course_data.str.get(0).str.strip().astype('string')
city_state = course_data.str.get(1)
city_state = city_state.str.split(',')
pga_data['city'] = city_state.str.get(0).str.strip().astype('string')
pga_data['state'] = city_state.str.get(1).str.strip().astype('string')

#Use pos and Finish columns to help fill each other
pos_str = pga_data['pos'].astype('object')
pga_data['Finish'].fillna(pos_str, inplace=True)

'''creates a new position column that is the same as pos 
except where Finish is NaN, where it is filled with 0s'''
pga_data['position'] = pga_data.Finish.apply(lambda x: 0 if (str(x) == 'CUT') or (str(x) == 'DQ') or (str(x) == 'WD') or (str(x) == 'MDF') else\
                                         (np.nan if x == np.nan else (str(x).strip('T') if str(x)[0] == 'T' else x))).astype('float')

#Change the dtypes of columns to correct dtypes suiting data
pga_data['tournament name'] = pga_data['tournament name'].astype('string')
pga_data['Finish'] = pga_data['Finish'].astype('string')
pga_data['course'] = pga_data.course.astype('string')
pga_data['date'] = pd.to_datetime(pga_data.date)
pga_data['player'] = pga_data['player'].astype('string')
pga_data['tournament id'] = pga_data['tournament id'].astype('string')
pga_data['player id'] = pga_data['player id'].astype('string')

In [5]:
#Remove tournaments we are not interested in
pga_data = pga_data[(pga_data['tournament name'] != 'Corales Puntacana Resort & Club Championship') \
                    & (pga_data['tournament name'] != 'Puerto Rico Open') & \
                    (pga_data['tournament name'] != 'AT&T Pebble Beach Pro-Am') &\
                   (pga_data['tournament name'] != 'Mayakoba Golf Classic') &\
                   (pga_data['tournament name'] != 'Bermuda Championship')]

#rename column names to match python variable naming convention
pga_data = pga_data.rename(columns = {'tournament id': 'tournament_id', 'player id': 'player_id',\
                                     'n_rounds': 'rounds_played', 'tournament name': 'tournament',\
                                     'Finish': 'finish'})

#get rid of redundant columns
pga_data = pga_data.drop(columns = ['Player_initial_last','hole_par','season','pos'])

In [6]:
#change order of columns in df to make logical sense to reader as they read
cols = pga_data.columns.tolist()
colsdict = dict()
for i in range(len(cols)):
     colsdict[i] = cols[i]
print(colsdict)
cols_order = [1,5,0,6,8,7,18,19,9,10,11,20,4,3,2,12,13,14,15,16,17]
cols = [cols[i] for i in cols_order]
pga_data = pga_data[cols]

{0: 'tournament_id', 1: 'player_id', 2: 'strokes', 3: 'rounds_played', 4: 'made_cut', 5: 'player', 6: 'tournament', 7: 'course', 8: 'date', 9: 'purse', 10: 'no_cut', 11: 'finish', 12: 'sg_putt', 13: 'sg_arg', 14: 'sg_app', 15: 'sg_ott', 16: 'sg_t2g', 17: 'sg_total', 18: 'city', 19: 'state', 20: 'position'}

In [7]:
pd.set_option('display.max_rows', 150)
#Get an idea of the dataset information
print(pga_data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3122 entries, 0 to 3675
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   player_id      3122 non-null   string
 1   player         3122 non-null   string
 2   tournament_id  3122 non-null   string
 3   tournament     3122 non-null   string
 4   date           3122 non-null   datetime64[ns]
 5   course         3122 non-null   string
 6   city           3122 non-null   string
 7   state          3122 non-null   string
 8   purse          3122 non-null   float64
 9   no_cut         3122 non-null   bool
 10  finish         3084 non-null   string
 11  position       3084 non-null   float64
 12  made_cut       3122 non-null   bool
 13  rounds_played  3122 non-null   int64
 14  strokes        3122 non-null   int64
 15  sg_putt        2971 non-null   float64
 16  sg_arg         2971 non-null   float64
 17  sg_app         2971 non-null   float64
 18  sg_ott         2971 non-null   float64
 19  sg_t2g         2971 non-null   float64
 20  sg_total       2971 non-null   float64
dtypes: bool(2), datetime64[ns](1), float64(8), int64(2), string(8)
memory usage: 493.9 KB
None

### Issue with `sg_xxxx`, `position`, and `finish` columns

As we can see, the `sg` fields have missing values for about 151 rows and there is no way to replace this data using the data in the DataFrame. For example, we could try to replace a certain player's `sg` null values with that player's average for that season, but this would be inaccurate information. This is the same case with `NaN` values in the position and finish columns.
**These rows will therefore have to be removed.**

In [8]:
pga_data = pga_data[(pga_data.sg_total.notnull()) & (pga_data.position.notnull()) & (pga_data.finish.notnull())]
print(pga_data.sample(10))
print(pga_data.info())
print(pga_data.describe())
print('Number of unique tournaments played:',pga_data['tournament'].nunique())
print('Number of unique players:',pga_data.player.nunique())

     player_id          player tournament_id                    tournament  \
390       3448  Dustin Johnson     401353227             AT&T Byron Nelson
649       3599    Brian Stuard     401353229                   Mexico Open
3533      3532  William McGirt     401353194  Sanderson Farms Championship
3217      3550   Gary Woodland     401353196           The CJ Cup @ Summit
260       3448  Dustin Johnson     401353226              PGA Championship
118      10906       Aaron Rai     401353225      Charles Schwab Challenge
3426       774       Bill Haas     401353194  Sanderson Farms Championship
123       1225    Brian Harman     401353225      Charles Schwab Challenge
1204      1225    Brian Harman     401353255          Valspar Championship
2370     11333    Greyson Sigg     401353233          The American Express

           date                       course           city   state  purse  \
390  2022-05-15              TPC Craig Ranch       McKinney      TX   9.10
649  2022-05-01             Vidanta Vallarta  Villa Hidalgo  Mexico   7.30
3533 2021-10-03      Country Club of Jackson        Jackson      MS   7.00
3217 2021-10-17              The Summit Club      Las Vegas      NV   9.75
260  2022-05-22  Southern Hills Country Club          Tulsa      OK  15.00
118  2022-05-29                     Colonial      Ft. Worth      TX   8.40
3426 2021-10-03      Country Club of Jackson        Jackson      MS   7.00
123  2022-05-29                     Colonial      Ft. Worth      TX   8.40
1204 2022-03-20                   Innisbrook    Palm Harbor      FL   7.80
2370 2022-01-23                 La Quinta CC      La Quinta      CA   7.60

      no_cut  ... position  made_cut  rounds_played  strokes  sg_putt  sg_arg  \
390    False  ...     59.0      True              4      276    -0.92   -0.07
649    False  ...     42.0      True              4      278    -0.29    0.83
3533   False  ...     17.0      True              4      272     0.40    1.12
3217    True  ...      9.0      True              4      268    -0.15    0.13
260    False  ...      0.0     False              2      146    -1.66    0.28
118    False  ...     68.0      True              4      289    -0.60   -0.34
3426   False  ...      0.0     False              2      141    -0.61    0.47
123    False  ...      0.0     False              2      143    -0.04    0.96
1204   False  ...      5.0      True              4      270     1.90   -0.59
2370   False  ...     25.0      True              4      276     0.69    0.27

      sg_app  sg_ott  sg_t2g  sg_total
390     0.69    0.33    0.95      0.03
649     0.89   -0.74    0.98      0.69
3533    0.53   -0.34    1.30      1.71
3217    0.21    1.25    1.58      1.43
260     1.96   -0.87    1.37     -0.28
118    -0.05   -0.39   -0.78     -1.38
3426   -0.48    0.28    0.27     -0.34
123    -2.04   -0.08   -1.16     -1.20
1204    0.82    0.61    0.84      2.75
2370    0.18    0.16    0.61      1.24

[10 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2971 entries, 0 to 3675
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   player_id      2971 non-null   string
 1   player         2971 non-null   string
 2   tournament_id  2971 non-null   string
 3   tournament     2971 non-null   string
 4   date           2971 non-null   datetime64[ns]
 5   course         2971 non-null   string
 6   city           2971 non-null   string
 7   state          2971 non-null   string
 8   purse          2971 non-null   float64
 9   no_cut         2971 non-null   bool
 10  finish         2971 non-null   string
 11  position       2971 non-null   float64
 12  made_cut       2971 non-null   bool
 13  rounds_played  2971 non-null   int64
 14  strokes        2971 non-null   int64
 15  sg_putt        2971 non-null   float64
 16  sg_arg         2971 non-null   float64
 17  sg_app         2971 non-null   float64
 18  sg_ott         2971 non-null   float64
 19  sg_t2g         2971 non-null   float64
 20  sg_total       2971 non-null   float64
dtypes: bool(2), datetime64[ns](1), float64(8), int64(2), string(8)
memory usage: 470.0 KB
None
             purse     position  rounds_played      strokes      sg_putt  \
count  2971.000000  2971.000000    2971.000000  2971.000000  2971.000000
mean      9.436520    18.499832       3.119488   220.500168    -0.122383
std       3.212677    22.767798       0.989606    66.932522     1.070952
min       7.000000     0.000000       1.000000    67.000000    -5.270000
25%       7.500000     0.000000       2.000000   146.000000    -0.760000
50%       8.200000     5.000000       4.000000   270.000000    -0.090000
75%       9.750000    35.000000       4.000000   280.000000     0.595000
max      20.000000    83.000000       4.000000   307.000000     3.480000

            sg_arg       sg_app       sg_ott       sg_t2g     sg_total
count  2971.000000  2971.000000  2971.000000  2971.000000  2971.000000
mean     -0.035072    -0.113349    -0.040720    -0.189175    -0.289061
std       0.738435     1.122868     0.778425     1.643609     1.862498
min      -4.540000    -5.500000    -5.040000    -8.130000   -10.340000
25%      -0.470000    -0.760000    -0.440000    -1.080000    -1.320000
50%       0.010000    -0.010000     0.030000    -0.050000    -0.150000
75%       0.440000     0.660000     0.480000     0.940000     0.950000
max       2.960000     3.710000     2.220000     4.330000     4.590000
Number of unique tournaments played: 25
Number of unique players: 296

We have a total of 20 columns, 8 `str` type, 10 `numeric` type where we can do our analysis, and 2 of `bool` type.

## YAYYYY!

#### We are now ready to perform analysis on our clean and tidy dataset!

In [9]:
pga_data.to_csv('pgatour_22_cleaned.csv')
%store pga_data

Stored 'pga_data' (DataFrame)